<%- include("header") -%>

    <div class="box" id="heading">
            <h1><%= listTitle %></h1>
    </div>
    
    <div class="box">
        <% items.forEach(function(item) {%>
        <div class="item">
            <form action="/delete" method="POST">
                <input type="checkbox" name="checkbox"  value="<%= item%>" onChange="this.form.submit()">
                <input type="hidden" name="list" value="<%= listTitle %>">
            </form>
            <p><%= item %></p>
        </div>
        <% }); %>

        <form action="/" method="post">
            <input type="text" name="newItem" placeholder="Task To Do" autocomplete="off" autofocus>
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>

    <div>
        <form action="/" method="GET">
            <button class="switch" type="submit">Home</button>
        </form>
    </div>

<%- include("footer") -%>