<%- include("header") -%>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    
    <div class="box">

        <% items.forEach(function(item){%>
        <form action="/delete" method="POST" style="margin-left: 5px">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= item.item%>" onChange="this.form.submit()">
                <p><%= item.item %></p>
            </div>
            <input type="hidden" name="listName" value="<%= listTitle%>"></input>
        </form>
            <% }) %>

        <form action="/" method="post">
            <input type="text" name="newItem" placeholder="Task To Do" autocomplete="off" autofocus>
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>
    
    <form action="/" method="GET">
        <button class="switch" type="submit" name="home">Home</button>
    </form>

<%- include("footer") -%>